03 LENGUAJES/eval_01/practicas/XML_XSD_actividades/w3schools/ej1.xsd


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ciclo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Nome" type="xs:string" />
        <xs:element name="Modulo" type="xs:string" maxOccurs="unbounded"/>
      </xs:sequence>
      </xs:atribute name = "familia" type=" xs.string" use="required"/>
      </xs:atribute name = "tipo" type=" xs.string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
