03 LENGUAJES/eval_01/practicas/linguaxeXM_actividadesValidacionConDTD/Tarefa5b_dtd.dtd

<!ELEMENT reservas (reserva+)>
<!ATTLIST reservas ano CDATA #REQUIRED>
 <!ELEMENT reserva (data, evento?, (clienteEmpresa | clientePersoal))>
 <!ATTLIST reserva
  local (polideportivo | localSocial) #REQUIRED
  bonificacion CDATA #IMPLIED>
  <!ELEMENT data EMPTY>
  <!ATTLIST data
  mes CDATA #REQUIRED
  dia CDATA #REQUIRED
  horario (maña | tarde | dia) "tarde" >
  <!ELEMENT evento (#PCDATA)>
  <!ELEMENT clienteEmpresa (#PCDATA)>
  <!ELEMENT clientePersoal (#PCDATA)>